.jumbotron {
  text-align:center;
  background-image: url("../img/gorge1.jpg");
  background-size: 100%;
  height: 300px;
  width: 100%;
  color: #aee8c6;
  font-family: trebuchet;
  font-style: normal;
}

body  {
  background-color: beige;
}
.sidebar {
  float: right;
  /* text-align: left; */
}
/* #about {
  text-align: left;
} */
#about-title {
  text-align: center;
  margin: 20px;
}
.micah {
  float: left;
  height: 250px;
  margin: 10px;
}
/* .panel-body {
  text-align: left;
} */
