body  {
  background-color: beige;
}


.jumbotron-home {
  text-align:center;
  background-image: url("../img/gorge1.jpg");
  background-size: 100%;
  height:500px;
  width: 100%;
  color: #black;
  font-family: trebuchet;
  font-style: normal;
  margin: 30px;
}

#title {
  font-size: 140px;
  color: beige;

}
#welcome {
  font-size: 70px;
  font-style: italic;
  color: beige;
}

.jumbotron {
  text-align:center;
  background-image: url("../img/gorge1.jpg");
  background-size: 100%;
  height: 200px;
  width: 100%;
  color: #black;
  font-family: trebuchet;
  font-style: normal;
  margin: 30px;
  a
}

#jumbotron-title {
  font-style: italic;
}

#navbar {
  position: absolute;
  left: 0px;
  height: 40px;
  background-color: #2C64B4;
  width: 100%;
  margin: 0 auto;
}

#about-title {
  text-align: center;
  margin: 20px;
}
#about {
  margin: 50px;
  padding: 20px;
}
#experience {
  margin: 80px;
  padding:20px;
  align-self: center;
}
#contact {
  margin: 80px;
}
#contact1 {
  /* margin: 60px;
  padding: 40px; */
}
#contact-img {
  /* float: left; */
  height: 300px;
  /* margin: 80px; */
}
#linkedin-logo {
  height: 50px;
}
#email-logo {
  height: 50px;
}
#github-logo {
  height: 50px;
}
#projects {
  margin: 80px;
  padding:20px;

}
#skills {
  margin: 80px;
  padding:20px;

}
.micah-img {
  float: left;
  height: 150px;
  margin: 10px;
}
