body  {
  background-color: beige;
}
.jumbotron {
  text-align:center;
  background-image: url("../img/gorge1.jpg");
  background-size: 100%;
  height: 200px;
  width: 100%;
  color: #aee8c6;
  font-family: trebuchet;
  font-style: normal;
  margin: 30px;
}

#jumbotron-title {
  font-style: italic;
}
#about-title {
  text-align: center;
  margin: 20px;
}
#about {
  padding: 20px;
}
.micah-img {
  float: left;
  height: 250px;
  margin: 10px;
}
